/* this is the style add for Anthem
 * the element should all prefixed by "anthem"
 */

@font-face {
    font-family: anthem-index-card-font;
    src: url('../fonts/Coiny-Regular.ttf');
}
.row{
    overflow:hidden;
}

#anthem-toc {
    /*background:url("../bkground/bk1.jpg");*/
    float:top;
}
@media screen and (max-width:500px) {
    #anthem-toc {
        display:none;
    }
}
#anthem-article {
    float:right;
}

.anthem-site-head {

    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.anthem-index-card {
    height:100px;
    font-family:anthem-index-card-font;
    background-size:cover;
}

.anthem-page-card {
    height:50px;
}
.anthem-img {
    max-width:100%;
    max-height:100%;
    width:auto;
    height:auto;
    margin:0 auto;
}

#anthem-toc {
    display:none;
    padding-bottom:100%;
    
}

.navbar-brand {
    color:black;
}

.affix {
    top:90;
}
