/* this is the style add by lius
 * the element should all prefixed by "lius"
 */


.row{
    overflow:hidden;
}

#lius-toc {
    /*background:url("../bkground/bk1.jpg");*/
    float:top;
}
@media screen and (max-width:500px) {
    #lius-toc {
        display:none;
    }
}
#lius-article {
    float:right;
}

.lius-site-head {

    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.lius-index-card {
    height:100px;
}

.lius-page-card {
    height:50px;
}

