
  

  .content {
    width: 70%;
    margin: 0 auto;
   }
  
  article img {
    display: block;
    max-width: 100%;
  }
  
  .kg-width-wide {
    position: relative;
    width: 85vw;
    min-width: 100%;
    margin: auto calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
  }
  
  .kg-width-full {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  
  article figure {
    margin: 0;
  }
  
  article figcaption {
    text-align: center;
  }
  
  body {
    margin: 0;
  }
  
  header, footer {
    padding: 15px 25px;
    background-color: #000;
    color: #fff;
  }
  /*

  .kg-bookmark-card {
    width: 100%;
    position: relative;
}

.kg-bookmark-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    color: currentColor;
    font-family: inherit;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.kg-bookmark-container:hover {
    text-decoration: none;
}

.kg-bookmark-content {
    flex-basis: 0;
    flex-grow: 999;
    padding: 20px;
    order: 1;
}

.kg-bookmark-title {
    font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
    margin-top: .5em;
}

.kg-bookmark-metadata {
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kg-bookmark-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.kg-bookmark-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    margin-right: .5em;
    margin-bottom: .05em;
}

.kg-bookmark-thumbnail {
    display: flex;
    flex-basis: 24rem;
    flex-grow: 1;
}

.kg-bookmark-thumbnail img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    object-fit: cover;
}

.kg-bookmark-author {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.kg-bookmark-publisher::before {
    content: "•";
    margin: 0 .5em;
}
*/
/* this is the style add for Anthem
 * the element should all prefixed by "anthem"
 */

 .nav-item { 
     font-size: 180%!important;
 }




@font-face {
    font-family: anthem-index-card-font;
    src: url('../fonts/Coiny-Regular.ttf');
}
.row{
    overflow:hidden;
}

#anthem-toc {
    /*background:url("../bkground/bk1.jpg");*/
    float:top;
}
@media screen and (max-width:500px) {
    #anthem-toc {
        display:none;
    }
}
#anthem-article {
    float:right;
    font-family: Lato,Helvetica Neue,Helvetica,sans-serif;
    font-size:18px;
}
.font-coiny {
    font-family: anthem-index-card-font;
}
.anthem-site-head {

    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;
}
.anthem-site-head-content {
    background: rgba(255,255,255,0.5);
}
.anthem-index-card {
    /*height:100px;*/
    font-family:anthem-index-card-font;
    
    /*background-size:cover;*/
}

.anthem-page-card {
    height:50px;
}
.anthem-img {
    max-width:100%;
    max-height:100%;
    width:auto;
    height:auto;
    margin:0 auto;
}

#anthem-toc {
    display:none;
    padding-bottom:100%;
    
}

.navbar-brand {
    color:black;
}

.affix {
    top:90;
}

.right {
    position:absolute;
    right:5px;
}

.post-masonry {
    margin-bottom: 30px;
    font-family: 'anthem-index-card-font';
    
    
}

.post-masonry .post-thumb {
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    
}

.post-masonry .post-thumb img {
    width: 100%;
    height: 180px;
    display: block;
}

.post-masonry .post-thumb .title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    padding: 15px 20px;
}

.post-masonry .post-thumb .title-over h2 {
    text-align:center;
    font-family: 'anthem-index-card-font';
    color:orange;
}



.post-masonry .post-thumb .title-over a {
    /*color: #fff;*/
}

.post-masonry .post-thumb .post-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.9);
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.post-masonry .post-thumb .post-hover .inside {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.post-masonry .post-thumb .post-hover h4 {
    font-family: 'anthem-index-card-font';
    margin-bottom: 10px;
    color:orange;
}

.post-masonry .post-thumb .post-hover a {
    color: #fff !important;
}

.post-masonry .post-thumb .post-hover i {
    display: block;
    margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover p {
    font-size: 16px;
    color:white;
}

.post-masonry .post-thumb .post-hover span {
    font-size: 12px;
    margin-bottom: 15px;
    display: block;
}

.post-masonry .post-thumb:hover .title-over {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    bottom: -50px;
}

.post-masonry .post-thumb:hover .post-hover {
    top: 0;
    visibility: visible;
    opacity: 1;
}

